  .search-card {
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
  }
   
  .search-item {
    background-color: rgba(0, 0, 0, 20%);
    border-radius: 20px;
    padding: 0 0 1em 0;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    height: calc(100% - 1em);
    display: grid;
  }
  
  .search-item .poster {
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    width: 100%;
    margin-bottom: 1em;
    border-radius: 20px 20px 0 0;
  }
  
  .search-item div {
    overflow: hidden;
  }
  
  .search-item span {
    display: block;
    text-align: center;
    padding: 0 1em;
    color: #FFF;
  }
  
  .add-text, .remove-text {
    display: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 75%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 50%;
    position: absolute;
    top: -4%;
    right: -6%;
    padding: .5em;
    width: 1.5em;
  }
  
  .add-text, .remove-text {
    display: none;
  }
  
  .search-card:hover .add-text, .search-card:hover .remove-text {
    display: flex;
  }
  
  @media (min-width: 2100px) {
    .add-text, .remove-text {
      font-size: 1.2em;
    }
  }
  
  @media (min-width: 2000px) {
    .search-item span {
      font-size: 1.3em;
    }
  }
  
  @media (max-width: 2000px) {
    .search-item span {
      font-size: 1.1em;
    }
  }
  
  @media (max-width: 1400px) {
    .search-item span {
      font-size: 1em;
    }
  }
  
  @media (max-width: 1150px) {
    .add-text, .remove-text {
      font-size: 1em;
    }
  }
  