.card-container {  
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 37.5% 62.5%;
    width: 50em;
    height: 12.5em;
    margin: 1em 0;
    color: #FFF;
  }
  
  .image-container img{
    width: 100%;
    height: 12.5em;
    object-fit: cover;
    object-position: center center;
    border-radius: 20px 0 0 20px;
  }
  
  .text-container {
    position: relative;
    padding: 0 1em;
    background-color: rgba(0, 0, 0, 30%);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0 20px 20px 0;
    height: 12.5em;
    line-height: 1.56em;
    display: flex;
    flex-direction: column;
  }
  
  .top {
    position: relative;
    top: 0%;
    padding: 1em 0 0.5em 0;
    overflow: hidden;
  }
  
  .title-text {
    font-size: 1.56em;
    font-weight: 500;
    white-space: nowrap;
    display: inline-block;
  }
  
  .animate {
      animation: scrollText 8s linear infinite;
  }
  
  @keyframes scrollText {
    0% {
      transform: translateX(0%);
    }
    8% {
      transform: translateX(0%);
    }
    98% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .studio-text {
    font-size: 1.125em;
    opacity: 80%;
    white-space: nowrap;
    display: inline-block;
  }
  
  .movie-genre-text {
    opacity: 60%;
  }
  
  .empty-block {
    display: inline-block;
  }

  .middle {
    width: max-content;
    padding-bottom: 0.5em;
    align-self: center;
  }
  
  .time-row span{
    font-size: 1.85em;
    font-weight: 400;
  }
  
  .abbre-row span{
    font-size: .94em;
    font-weight: 300;
    opacity: 75%;
  }
  
  table {
    border-spacing: 0em;
  }
  
  td {
    text-align: center;
  }
  
  td img {
    vertical-align: -0.2em;
  }
  
  .days {
    font-size: 2.5em;
    font-weight: 500;
    text-align: right;
    padding-right: .2em;
  }

  .status-text {
    font-size: 2em;
    font-weight: 500;
    text-align: right;
    padding-right: .2em;
    padding-top: .2em;
    padding-bottom: .2em;
  }
  
  .days-text {
    font-size: 1.25em;
    font-weight: 300;
    padding-top: .6em;
    text-align: left;
  }
  
  .date-text {
    font-size: 1.125em;
    font-weight: 300;
    opacity: 65%;
  }
  
  .date-text img {
    padding-right: .5em;
    height: 1.1em;
  }
  
  .media-text {
    font-size: 1.125em;
    font-weight: 300;
  }
  
  .bottom {
    position: relative;
    bottom: 0%;
    padding-bottom: 0.5em;
    overflow: hidden;
  }
  
  .episode-text {
    font-size: 1.125em;
    position: relative;
    bottom: 0%;
    font-weight: 300;
    white-space: nowrap;
    display: inline-block;
  }
  
  .episode-text strong {
    font-weight: 500;
  }
  
  .remove-button {
    display: none;
    background-color: rgba(0, 0, 0, 75%);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 50%;
    position: absolute;
    top: -6%;
    right: -3%;
    padding: .5em;
    width: 1.5em;
    cursor: pointer;
  }
  
  .card-container:hover .remove-button {
    display: flex;
  }
  
  .large-view {
    display: block;
  }
  
  .small-view {
    display: none;
  }
  
  @media (min-width: 1800px) {
    .card-container {
      margin: 0;
    }
  }
  
  @media (max-width: 920px) {
    .large-view {
      display: none;
    }
  
    .small-view {
      display: block;
    }
  
    .card-container {
      width: 37.5em;
    }
  
    .title-text {
      font-size: 1.375em;
      padding-right: 1em;
    }
  
    .days {
      font-size: 2.25em;
    }
    
    .status-text {
        font-size: 1.8em;
        padding-bottom: .1em;
    }

    .days-text {
      font-size: 1.125em;
    }
    
    .date-text {
      font-size: 1em;
    }
    
    .media-text {
      font-size: 1em;
    }
  }
  
  @media (max-width: 780px) {
    .card-container {
      width: 35em;
    }
  }
  
  @media (max-width: 600px) {
    .card-container {
      width: 30em;
    }
  }
  
  @media (max-width: 480px) {
    .card-container {
      width: 25em;
    }
  }