<ng-container *ngIf="movieData">
    <div class="card-container" [ngStyle]="movieData.poster_path ? {'background-image': 'url(https://image.tmdb.org/t/p/w500' + movieData.poster_path + ')'} : {'background-image': 'none'}">
        <div class="image-container">
            <img *ngIf="movieData.poster_path; else elsePoster" src="https://image.tmdb.org/t/p/w500{{ movieData.poster_path }}" alt="" id="image">
            <ng-template #elsePoster><img></ng-template>
        </div>

        <div class="text-container">
            <div class="top no-hover">
                <span class="title-text" id="title-{{ movieData.id }}" [ngClass]="isTitleLong ? 'animate' : ''">
                    {{ movieData.title }}</span><br>
                
                <span *ngIf="productionCompanies[0]; else elseProductionCompany" class="studio-text" id="studio-{{ movieData.id }}" [ngClass]="isStudioTextLong ? 'animate' : ''">
                    {{ productionCompanies[0].name }}</span>
                <ng-template #elseProductionCompany><span></span></ng-template><br>
                
                <span *ngIf="movieData.genres.length > 1; else elseBlock" class="movie-genre-text">{{ movieData.genres[0].name + '/' + movieData.genres[1].name }}</span>
                <ng-template #elseBlock>
                    <span class="movie-genre-text">{{ movieData.genres[0].name }}</span>
                </ng-template>
            </div>
            <div class="middle no-hover">
                <span class="release-date" style="display: none">{{ movieData.release_date }}</span>
                <table>
                    <tbody>
                        <tr>
                            <ng-container [ngSwitch]="daysTilRelease === 'Released' ? 1 : (daysTilRelease.includes(':') ? 2 : -1)">
                                <ng-container *ngSwitchCase="1">
                                    <td class="days"
                                    style="padding-bottom:.2em; padding-top:.2em; font-size:2em;">
                                    <span>{{ daysTilRelease }}</span></td>
                                </ng-container>
                                <ng-container *ngSwitchCase="2">
                                    <td class="days"
                                        style="padding-bottom:.2em; padding-top:.2em;">
                                        <span>{{ daysTilRelease }}</span></td>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    <td class="days"><span>{{ daysTilRelease }}</span></td>
                                    <td class="days-text"><span>Days</span></td>
                                </ng-container>
                            </ng-container>
                        </tr>
                        <tr>
                            <td colspan="2" class="date-text">
                                <img src="assets/calendar.svg" alt="">
                                <span>{{ releaseDate.toLocaleString('en-US', {dateStyle: 'medium'}).replace(',', '') }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="bottom no-hover">
                <span class="media-text">Movie</span>
                <span class="id" style="display: none">{{ movieId }}</span>
            </div>
            <img class="remove-button" src="assets/x.svg" alt="" (click)="removed.emit(movieId)">
        </div>    
    </div>
</ng-container>
