<div class="card-container">
    <div class="image-container">
        <img src="https://image.tmdb.org/t/p/w500/QWbPaDxiB6LW2LjASknzYBvjMj.jpg" alt="" id="image">
    </div>
    <div class="text-container">
        <div class="top no-hover">
            <span class="title-text" [ngClass]="enableSlideText('.title-text') === true ? 'animate' : ''">Daredevil: Born Again</span><br>
            <span class="episode-text" 
            [ngClass]="enableSlideText('.episode-text') === true ? 'animate' : ''"
            [ngStyle]="mediaType === 'Movie' ? {'display':'none'} : null">
                <strong class="episodeNum">S1E1: </strong>
                Hello World!
            </span>
            <br class="tv-lineBreak" [ngStyle]="mediaType === 'Movie' ? {'display':'none'} : null">
            <span class="studio-text"  [ngClass]="enableSlideText('.studio-text') === true ? 'animate' : ''">Disney+</span><br>
            <span class="movie-genre-text" [ngStyle]="mediaType === 'Movie' ? null : {'display':'none'}">Action</span>
        </div>
        <div class="middle no-hover">
            <span class="release-date" style="display: none">2024-04-16</span>
            <table>
            <tbody>
                <tr>
                <td class="days"><span>574</span></td>
                <td class="days-text"><span>Days</span></td>
                </tr>
                <tr>
                <td colspan="2" class="date-text">
                    <img src="../../../assets/calendar.svg" alt="">
                    <span>Apr 16 2024</span>
                </td>
                </tr>
            </tbody>
            </table>
        </div>
        <div class="bottom no-hover">
            <span class="media-text">TV Series</span>
            <span class="id" style="display: none">id</span>
        </div>
        <img class="remove-button" src="../../../assets/x.svg" alt="">
    </div>    
</div>