<header>
    <h1 id="logo">Movie CountDown</h1>
    <nav>
    <div class="links-container">
        <a routerLink="/home" routerLinkActive="active-link" id="home-btn">Home</a>
        <a routerLink="/discover" routerLinkActive="active-link" id="discover-btn">Discover</a>
    </div>
    <div class="search-container">
        <div>
            <input type="text" placeholder="Search" #searchBar name="search-bar" id="search-bar" [(ngModel)]="searchString.q"
                (keydown.enter)="onSearch()">
            <fa-icon *ngIf="searchString.q !== ''" [icon]="faClear" id="clear-btn" (click)="searchString.q = ''"></fa-icon>
        </div>

        <!-- <img src="assets/search-icon.svg" alt="" id="search-btn"> -->
        <fa-icon [icon]="faSearch" id="search-btn" (click)="onSearch()"></fa-icon>
    </div>
    </nav>
</header>

<router-outlet></router-outlet>

<footer>
    <span>This product uses the TMDb API but is not endorsed or certified by TMDb</span>
</footer>